<section class="commit-overview">
  <header class="commit-overview__header">
    <h1 class="commit-overview__heading">
      Recent Commits
    </h1>
  </header>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range:</mat-label>
    <mat-date-range-input required="true" [formGroup]="range" [rangePicker]="picker">
      <input matStartDate [min]="today" formControlName="start" placeholder="Start date">
      <input matEndDate (dateChange)="getCommitInRange()" formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.end.hasError('required')">End date is required</mat-error>
  </mat-form-field>

  <ng-container *ngIf="commits$ | async as commits">
    <ng-container *ngIf="commits.length else noCommits">
      <article class="card" *ngFor="let commit of commits">
        <header class="card__header">
          <h4 class="card__heading">Commit summary</h4>
        </header>
        <div class="card__details">
          <p><strong>commit:</strong> {{ commit.sha }}</p>
          <p><strong>Author:</strong> {{ commit.commit.author.name }}</p>
          <p><strong>Date:</strong> {{ commit.commit.author.date | date }}</p>
          <p><strong>Message:</strong> {{commit.commit.message.split('\n')[0]}}</p>
        </div>
        <footer class="card__footer">
          <button (click)="goToCommitDetails(commit.sha)">View details</button>
        </footer>
      </article>
    </ng-container>

    <div class="commit-overview__pagination">
      <button (click)="fetchPage(page - 1)" [disabled]="page === 1">Prev</button>
      <button (click)="fetchPage(page + 1)" [disabled]="!commits.length || commits.length < 30">Next</button>
    </div>
  </ng-container>

  <ng-template #noCommits>
    <p>No commits to show</p>
  </ng-template>
</section>
