/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  background-color: #f5f5f5;
  color: rgba(0,0,0,.7);
  padding: calc(0.5em - 1px) 1em;
  cursor: pointer;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0.375em;
  font-size: 1rem;
  height: 2.5em;
}

button[disabled] {
  cursor: not-allowed;
}

.card {
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  width: 520px;
  margin-bottom: 15px;
  position: relative;
}

.card__header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgb(10 10 10 / 10%);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card__heading {
  margin: 0;
  align-items: center;
  color: #363636;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

.card__details {
  padding: 0.75rem 1.5rem;
}

.card__details p {
  font-family: monospace;
  font-size: 14px;
  margin: 0 0 5px;
}

.card__details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border-top: 1px solid #ededed;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
